@use '../../style/variables.scss' as variables;
@use '../../style/mixins.scss' as mixins;

.WorkArea {
  padding: 3rem;
  flex-grow: 1;

  &__title {
    display: flex;
    margin-bottom: 1.5rem;

    & button {
      border: none;
      border-radius: 3px;
      color: variables.$white;
      margin-left: 1rem;
      padding: 5px;
      height: 50%;
      cursor: pointer;
      align-self: center;

      transition: variables.$default-hover-time;

      &:hover {
        background: variables.$orange--dark;
      }
    }

    &-edit {
      background: variables.$yellow;
    }
    &-delete {
      @include mixins.deleteButton;
    }
  }

  &__taskList {
    list-style-type: none;

    &-item {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 5px;
      transition: variables.$default-hover-time;

      &:hover {
        background: variables.$grey--light;
      }

      &--delete {
        @include mixins.deleteButton;
      }
    }
  }
}
