@use '../../style/variables.scss' as variables;
@use '../../style/mixins.scss' as mixins;

.WorkArea {
  padding: 3rem;
  flex-grow: 1;

  &__title {
    display: flex;
    margin-bottom: 1.5rem;

    & button {
      margin-left: 1rem;
      padding: 5px;
      height: 50%;
      align-self: center;
    }

    &-edit {
      @include mixins.button(edit);
    }
    &-delete {
      @include mixins.button(delete);
    }
  }

  &__taskList {
    list-style-type: none;

    &-item {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 5px;
      transition: variables.$default-hover-time;

      &:hover {
        background: variables.$grey--light;
      }

      &--delete {
        @include mixins.button(delete);
      }
    }
  }

  &__newTaskContainer {
    &-button {
      cursor: pointer;
      transition: variables.$default-hover-time;
      &:hover {
        color: variables.$orange--dark;
      }
    }
  }
}
