@use '../style/variables.scss' as variables;

@mixin button($type) {
  color: variables.$white;
  border: none;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  transition: variables.$default-hover-time;

  &:hover {
    background: variables.$orange--dark;
  }

  @if $type == delete {
    background: red;
  }

  @if $type == edit {
    background: variables.$yellow;
  }
}
