/* Reset and Global Settings
_______________________________________________*/

$yellow: #f7b801;
$orange: #f18701;
$orange--dark: #f35b04;
$blue--light: #7678ed;
$blue--dark: #3d348b;
$white: #fafafa;
$grey--light: #ebebeb;
$grey--dark: #8d8d8d;
$black: #202020;
