@use '../../style/variables.scss' as variables;
@use '../../style/mixins.scss' as mixins;

.Sidebar {
  background: variables.$grey--light;
  padding: 2rem;
  width: 25rem;
  height: 93vh;
  justify-content: flex-end;

  &__title {
    color: variables.$grey--dark;
    font-weight: 400;
  }

  &__list {
    list-style-type: none;
  }
}
