@use '../../style/variables.scss' as variables;
@use '../../style/mixins.scss' as mixins;

.Sidebar {
  background: variables.$grey--light;
  padding: 2rem;
  width: 25%;
  height: 93vh;
  display: flex;
}
