@use '../../style/variables.scss' as variables;
@use '../../style/mixins.scss' as mixins;

.Nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: variables.$orange;

  &__logo {
    & img {
      width: 30%;
    }
  }
}
