@use '../../style/variables.scss' as variables;
@use '../../style/mixins.scss' as mixins;

.Nav {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  padding: 3rem;
  background-color: red;
}
